.edit_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  flex-direction: column;
  background-position: center center;
}

.edit_toggle {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.expense_active {
  color: rgb(251, 189, 32);
}
.edit_active {
  color: rgb(251, 189, 32);
}
.edit_select {
  width: 280px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 8px;
  font-size: 18px;
  text-align: left;
}

.edit_modal_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: #fbfbfb;
}
.edit_amount {
  width: 280px;
  padding-left: 20px;
  text-align: start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fbfbfb !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.edit_amount_date {
  color: #fbfbfb !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.edit_comment {
  display: flex;
  width: 280px;
}
.edit_amount:focus {
  padding-left: 20px;
}
.edit_comment_input {
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 18px;
  text-align: left;
  color: #fbfbfb !important;

  height: 76px;
  resize: none;
  font-family: Poppins;

  font-weight: 400;
  line-height: 27px;
}
.edit_comment_input:focus {
  padding-left: 20px;
}

.edit_buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.edit_save_button {
  padding: 13px 10px;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  background: var(
    --button-gradient,
    linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%)
  );
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
/* .edit_save_button:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to left,
    #7000ff 10%,
    #9e40ba 25%,
    #ffc727 90%
  );
  transition: 1s;
  background-size: 200% auto;
  background-position: right center;
} */
.edit_cancel_button {
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 13px 10px;
  font-size: 18px;
  color: #623f8b;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  transition: scale 250ms ease-in-out 0s, box-shadow 250ms ease-in-out 0s;
}
.textarea {
  height: 79px;
  resize: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.input {
  width: 280px;
  background-color: transparent;
  border: none;
  color: rgb(251, 251, 251);
  padding: 0 20px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/* .edit_cancel_button:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, #fff 0%, #fcda7b 35%, #fff 100%);
  display: block;
  transition: 1s;
  background-size: 200% auto;
  background-position: right center;
} */
.adit_svg {
  position: absolute;
  right: 1px;
  bottom: 8px;
  color: #734aef;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .textarea {
    width: 394px;
    height: 35px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    resize: none;
  }
  .edit_select {
    width: 394px;
  }
  .edit_modal_select {
    justify-content: center;

    display: flex;
    gap: 32px;
    width: 394px;
    flex-direction: row;
  }

  .edit_amount {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fbfbfb !important;
    font-weight: 600 !important;
    font-size: 18px;

    width: 181px;
    text-align: center;

    padding-bottom: 8px;
  }
  .edit_datepicker_wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .edit_amount_date {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 8px;
    width: 181px;
  }
  .edit_save_button {
    width: 300px;
  }
  .edit_comment {
    width: 394px;
  }
}
