.edit_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  flex-direction: column;
  background-position: center center;
}

.edit_toggle {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.expense_active {
  color: rgb(251, 189, 32);
}
.edit_active {
  color: rgb(251, 189, 32);
}
.edit_select {
  width: 280px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 8px;
  font-size: 18px;
  text-align: left;
}

.edit_modal_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: #fbfbfb;
}
.edit_amount {
  width: 280px;
  padding-left: 20px;
  text-align: start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fbfbfb !important;
  font-weight: 600 !important;
  font-size: 18px;
}
.edit_amount_date {
  color: #fbfbfb !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.edit_comment {
  display: flex;
}
.edit_amount:focus {
  padding-left: 20px;
}
.edit_comment_input {
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 18px;
  text-align: left;
  color: #fbfbfb !important;

  height: 76px;
  resize: none;
  font-family: Poppins;

  font-weight: 400;
  line-height: 27px;
}
.edit_comment_input:focus {
  padding-left: 20px;
}
/* .edit_comment {
  margin: 0px auto 15px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  border: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
  outline: transparent;
  resize: none;
} */
.edit_buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.edit_save_button {
  padding: 13px 10px;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  background: var(
    --button-gradient,
    linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%)
  );
  text-align: center;
  color: white;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
.edit_cancel_button {
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 13px 10px;
  font-size: 18px;
  color: #623f8b;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  transition: scale 250ms ease-in-out 0s, box-shadow 250ms ease-in-out 0s;
}
.adit_svg {
  position: absolute;
  right: 1px;
  bottom: 8px;
  color: #734aef;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .edit_select {
    width: 394px;
  }
  .edit_modal_select {
    justify-content: center;

    display: flex;
    gap: 32px;
    width: 394px;
    flex-direction: row;
  }

  .edit_amount {
    padding-left: 0px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fbfbfb !important;
    font-weight: 600 !important;
    font-size: 18px;

    width: 181px;
    text-align: center;

    padding-bottom: 8px;
  }
  .edit_datepicker_wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .edit_amount_date {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 8px;
    width: 181px;
  }
  .edit_save_button {
    width: 300px;
  }
  /* .edit_amount {
    width: 280px;
    height: 35px;
    background-color: transparent;
    border: none;
    color: rgb(251, 251, 251);
    padding: 0 20px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  } */
  /* .edit_amount {
    width: 190px;
  } */
  /* .edit_toggle {
    display: flex;
    gap: 20px;
    align-items: center;
  } */
  /* .edit_modal_select {
    width: 401px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    color: #fbfbfb;
  } */
}
/* @media screen and (min-width: 1280px) {
  .edit_amount {
    width: 190px;
  }
  .edit_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 174px;
  }
  .edit_modal_select {
    width: 401px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    color: #fbfbfb;
  }
}  */
