.switch_wrapper {
  display: flex;
  width: 254px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.toggle_container {
  position: relative;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: 30px;
  background: rgb(251, 251, 251);
}

.toggle_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 15px 0px rgba(255, 199, 39, 0.5);
  background: rgb(255, 182, 39);
  border-radius: 50%;
  position: absolute;
  transition: all 200ms ease;
  width: 44px;
  height: 44px;
  left: -1px;
  top: -2px;
}

.disable {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  transition: all 200ms ease;
  width: 44px;
  height: 44px;
  box-shadow: 0px 6px 15px 0px rgba(255, 134, 141, 0.5);
  left: 38px;
  top: -2px;
  background: rgb(255, 134, 141);
}

.switcher_text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.6);
}

.income {
  color: rgb(255, 182, 39);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
}

.expense {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgb(255, 134, 141);
  text-align: left;
}

.edit_amount {
  width: 181px;
  text-align: center;
  background-color: transparent;
  color: white;
  outline: transparent;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.input {
  background-color: transparent;
  border: none;
  color: rgb(251, 251, 251);
  padding: 0 20px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  outline: none;
}

.btn_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.label {
  position: relative;
}

@media only screen and (max-width: 767.98px) {
  /* .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  } */

  .input {
    width: 280px;
    height: 35px;
    background-color: transparent;
    border: none;
    color: rgb(251, 251, 251);
    padding: 0 20px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .textarea {
    height: 79px;
    resize: none;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
  }
}

.amount_date_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .amount_date_box {
    flex-direction: row;
    width: 394px;
  }
}

@media only screen and (min-width: 768px) {
  .input_number {
    width: 181px;
    padding: 0 0 8px 0 !important;
    text-align: center;
    height: 35px;
  }

  .textarea {
    width: 394px;
    height: 35px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    resize: none;
  }
}

.input_number {
  color: rgb(251, 251, 251) !important;
}

.button_out {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 120px;
  text-align: center;
  color: #fbfbfb;

  width: 280px;
  height: 50px;
  border-radius: 20px;
  background: var(
    --button-gradient,
    linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%)
  );
  /* Button shadow */
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  @media (min-width: 768px) {
    width: 300px;
  }
}
.button_cancel {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #623f8b;
  padding: 13px 100px;

  width: 280px;
  height: 50px;
  border-radius: 20px;
  background: var(--white, #fbfbfb);
  /* Button shadow */
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  @media (min-width: 768px) {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .button_out {
    width: 300px;
    height: 50px;
  }
  .button_cancel {
    width: 300px;
    height: 50px;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 280px;
}

.category_error,
.amount_error {
  color: red;
  font-size: 10px;
  font-weight: 200;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
}

.comment_error {
  color: red;
  font-size: 10px;
  font-weight: 200;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -12px;
}
