/* Стилізація випадаючого меню */
.input__menu {
  border-radius: 8px;
  background: var(
    --Small-Form-color,
    linear-gradient(
      0deg,
      rgba(83, 61, 186, 0.7) 0%,
      rgba(80, 48, 154, 0.7) 43.14%,
      rgba(106, 70, 165, 0.52) 73.27%,
      rgba(133, 93, 175, 0.13) 120.03%
    )
  );

  /* form effects */
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  /* width: 182px;
  max-height: 157px; */
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding-top: 30px; */
  position: absolute;
}

.inputSelect {
  position: relative;
  width: 182px;
  max-height: 157px;
}

/* .input__menu::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
} */

/* Стилізація опцій випадаючого меню */
/* .input__option {
  color: black;
  position: relative;
} */

/* Стилізація виділеної опції */
.input__option--is-selected {
  background-color: yellow;
}

/* Стилізація опцій при наведенні */
.input__option:hover {
  background: var(--Form-color, rgba(255, 255, 255, 0.1));
  color: #ff868d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input__control {
  width: 181px;
  max-height: 157px;
}
