.label {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: white;
  margin-bottom: 8px;
}

.SearchBox {
  display: flex;
  gap: 32px;
  padding-top: 65px;
  margin-bottom: 20px;
}

.table {
  box-sizing: border-box;
  border-collapse: collapse;
  border: none;
  border-radius: 8px;
  margin: auto;
  width: 395px;
  margin: 0;
  overflow: scroll;
}

.tbl {
  max-height: 300px;
  overflow: scroll;
}

.tbl::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
  scrollbar-width: 0;
  scrollbar-width: none;
}

.wrapper {
  width: 395px;
  height: 56px;
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  display: flex;
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: space-between;
  padding: 0 29px;
  align-items: center;
}

.footer {
  padding: 0 29px;
  margin-top: 16px;
  width: 395px;
  display: flex;
  justify-content: space-between;
}

.footerText {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 19px;
  flex-direction: column;
}

.footerNumber {
  display: flex;
  gap: 19px;
  flex-direction: column;
  align-items: end;
}

.numberSpan:first-child {
  color: var(--dashboard-text, #ff868d);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.numberSpan:last-child {
  color: var(--yellow, #ffb627);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.th {
  overflow: hidden;
  /* width: 280px; */
  /* text-align: center; */
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.th:nth-child(2n + 1) {
  border-radius: 8px 0px 0 8px;
  padding: 16px 0 16px 29px;
  display: flex;
  align-items: center;
}

.th:nth-child(2n) {
  text-align: right;
  padding: 16px 29px 16px 0;
  border-radius: 0px 8px 8px 0px;
}

.thtd {
  overflow: hidden;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.41); */
  /* text-align: center; */
  /* font-size: 22px; */
  font-weight: 500;
  text-transform: capitalize;
  padding: 16px 0 16px 29px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

/* .tr:first-child {
  border: none;
} */

.tht {
  overflow: hidden;
  /* border-top: 1px solid rgba(255, 255, 255, 0.41); */
  text-align: right;

  font-weight: 500;
  text-transform: capitalize;
  padding: 16px 29px 16px 0;
}

.thead {
  border: none;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  color: aliceblue;
  /* width: 395px; */
  height: 56px;
  flex-shrink: 0;
}

.tbody {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box {
  /* background: wheat; */
  /* position: absolute; */
  /* right: 0; */
  display: flex;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.span {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  align-items: start;
  border-radius: 2px;
}

.doughnut {
  display: block;
  width: 288px;
  height: 288px;
  margin: 0 32px 0 0;
  padding: 0;
  /* position: relative; */
}

.classExpenses {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.classExpensesValue {
  color: var(--dashboard-text, #ff868d);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.classIncomeValue {
  color: var(--yellow, #ffb627);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.doughnutText {
  color: var(--white, #fbfbfb);
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg {
  stroke: white;
  fill: white;

  width: 40px !important;
  height: 40px !important;
}

.shadowData {
  z-index: 222;
  position: absolute;
}

.noTrasaction {
  font-size: 24px;
  display: block;
  text-align: center;
  margin: auto;
  line-height: 1.28;
  margin-top: 20px;
}

/* ======================================================================================================= */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .table {
    width: 339px;
  }

  .th:nth-child(2n + 1) {
    padding: 16px 0 16px 17px;
  }

  .th:nth-child(2n) {
    text-align: right;
    padding: 16px 17px 16px 0;
  }

  .thtd {
    padding: 16px 0 16px 17px;
  }

  .tht {
    padding: 16px 17px 16px 0;
  }

  .SearchBox {
    display: flex;
    gap: 16px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .box {
    margin-right: 32px;
    margin-top: 40px;
  }

  .doughnut {
    width: 336px;
    height: 336px;
  }

  .doughnutText {
    margin-left: 0px;
  }

  .wrapper {
    width: 336px;
    padding: 0 16px;
  }

  .footer {
    width: 336px;
    padding: 0 16px;
  }
}

/* ================================================================================================ */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }

  .doughnut {
    width: 280px;
    height: 280px;
    margin: 0;
    box-sizing: border-box;
  }

  .doughnutText {
    margin-bottom: 8px;
    box-sizing: border-box;
  }

  .SearchBox {
    flex-direction: column;
    gap: 20px;
    margin: 0 auto 20px auto;
  }

  .table {
    width: 280px;
    margin: 0 auto;
  }

  .th:nth-child(2n + 1) {
    padding: 16px 0 16px 17px;
  }

  .th:nth-child(2n) {
    text-align: right;
    padding: 16px 17px 16px 0;
  }

  .thtd {
    padding: 16px 0 16px 17px;
  }

  .tht {
    padding: 16px 17px 16px 0;
  }

  .wrapper {
    width: 280px;
    padding: 0 16px;
  }

  .footer {
    width: 280px;
    padding: 0 16px;
  }

  .tbl {
    max-height: 100%;
    overflow: scroll;
  }
}
