.wrapper {
  position: absolute;
  inset: 0;
  z-index: 289;
  display: flex;
  justify-content: center;
  background-image: image-set(
    url("../../../img/logoutBack/mobile-background.webp") 1x,
    url("../../../img/logoutBack/mobileBackground@2x.webp") 2x
      url("../../../img/logoutBack/mobile-background.jpg") 1x,
    url("../../../img/logoutBack/mobileBackground@2x.jpg") 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(7px);
  margin-top: 60px;
  @media (min-width: 768px) {
    margin-top: 0;
    background-image: none;
  }
}
