.item {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 20px;
  fill: rgba(255, 255, 255, 0.446);
}
.statIcon {
  width: 44px;
  height: 44px;
}
.list {
  margin: 72px 62px 12px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .list {
    margin: 40px 0 0 0;
    /* display: flex; */
    flex-direction: column;
    gap: 12px;
  }
  .statIcon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    margin: 40px 0px 28px 16px;
    /* display: flex;
    flex-direction: column; */
    gap: 12px;
  }
}
