.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.content {
  position: relative;
  background-image: url("../../img/background/mobilebackMobile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  /* height: 691px; */
  padding: 20px;
  overflow: hidden;
  max-width: 1000px;
  border-radius: 5px;
  h1 {
    font-size: 2rem;
  }
}
.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.title {
  width: 280px;
  height: 31px;
  color: rgb(251, 251, 251);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}
