@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  src: url("./assets/fonts/Circe/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  src: url("./assets/fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: image-set(
    url("./img/background/mobilebackMobile.webp") 1x,
    url("./img/background/mobilebackMobile@2x.webp") 2x,
    url("./img/background/mobilebackMobile.jpg") 1x,
    url("./img/background/mobilebackMobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  body {
    background-image: image-set(
      url("./img/background/tabletbackTab.jpg") 1x,
      url("./img/background/tabletbackTab@2x.jpg") 2x
    );
    height: 1024px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: image-set(
      url("./img/background/iMac.webp") 1x,
      url("./img/background/iMac@2x.webp") 2x,
      url("./img/background/iMac.jpg") 1x,
      url("./img/background/iMac@2x.jpg") 2x
    );
    height: 720px;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  /* padding: 0 20px; */
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    /* padding: 0 32px; */
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* padding: 0 16px; */
  }
}

.active {
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: normal !important;

  .stat {
    fill: #734aef !important;
    background: white;
    border-radius: 7px;
  }
}

@media screen and (min-width: 768px) {
  .active {
    .stat {
      border-radius: 3px;
    }
  }
}
.layout-box {
  display: flex;
  flex-direction: column;
}
.dashboard {
  /* border-right: 1px solid rgba(255, 255, 255, 0.6); */
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .layout-box {
    display: flex;
    flex-direction: row;
  }
  .dashboard {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  .layout-box {
    display: flex;
    flex-direction: row;
  }
  .dashboard {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    flex-direction: column;
  }
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 20px !important;
}
