.add_btn {
  /* margin: 0 40px 40px auto; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 44px;
  height: 44px;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(
    166.82deg,
    rgb(255, 199, 39) -125.559%,
    rgb(158, 64, 186) 181.695%,
    rgb(112, 0, 255) 327.061%
  );
}

.container {
  height: 640px;
  padding-bottom: 40px;
}
